[Unit]
Description=Foc Search Server (Sonic)
After=network.target

[Service]
User=foc
Group=foc
WorkingDirectory=/opt/foc/
ExecStart=/opt/foc/sonic -c config.cfg
Restart=always

[Install]
WantedBy=multi-user.target

