[Unit]
Description=Foc Search API Service
After=network.target

[Service]
User=foc
Group=foc
WorkingDirectory=/opt/foc/future-of-coding-weekly/search
ExecStart=python3 server.py
Restart=always

[Install]
WantedBy=multi-user.target

