<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Future of Coding History</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="app" v-cloak>

      <div id="ui">

        <a id="logo" href="https://futureofcoding.org">
          <img src="logo.svg" alt="Future of Coding History">
        </a>

        <div id="small-logo">
          <a href="https://futureofcoding.org">Future of Coding</a> History
        </div>

        <div id="center">
          <div id="query">
            <div>
              <div class="field">
                <label>From</label>
                <input type="date" v-model="fromDate" v-on:input="onFromDateChange">
              </div>

              <div class="field">
                <label>To</label>
                <input type="date" v-model="toDate" v-on:input="onToDateChange">
              </div>

              <div class="field">
                <label>Channel</label>
                <select v-model="channel" v-on:input="onChannelChange">
                  <option value="general">#general</option>
                  <option value="feedback">#feedback</option>
                  <option value="two-minute-week">#two-minute-week</option>
                </select>
              </div>
            </div>

            <button id="load" v-on:click="loadSelected()">Load</button>
          </div>

          <div id="filter">
            <div>
              <div class="field">
                <label>Filter</label>
                <input type="text" v-model="msgFilter" v-on:input="onFilterChanged">
              </div>
              <div id="msgCount" v-bind:class="{hide: loadingStatus !== null}">
                <span v-if="msgFilter">{{filteredMsgs.length}} of </span>{{history.msgs.length}} Posts
              </div>
            </div>
          </div>
        </div>

        <div id="actions">
          <div id="loadingStatus" v-if="loadingStatus !== null">
            {{loadingStatus}}
          </div>

          <div v-if="loadingStatus == null && filteredMsgs.length > 0">
            <h3>Export</h3>
            <button style="margin-right:2px" v-on:click="exportAsMd()">Markdown</button>
            <button v-on:click="exportAsHTML()">HTML</button>
          </div>

          <a id="linkToSearch" v-if="loadingStatus == null && history.msgs.length > 0" :href="queryLink" target="_blank">Link to This Search</a>
        </div>

      </div>

      <div id="msgs-output">
        <div class="post" v-for="msg in filteredMsgs" :key="msg.ts" :id="msg.$dateStrISO">
          <span class="user">{{msg.$userName}}</span>
          <a class="date" :href="'#' + msg.$dateStrISO">{{msg.$dateStr}}</a>
          <div class="message" v-html="msg.$html"></div>
          <div class="attachments" v-html="msg.$attachmentsHtml"></div>
          <div class="files" v-html="msg.$filesHtml"></div>

          <div class="replies">
            <div class="reply" v-for="resp in msg.responses" :key="resp.ts" :id="resp.$dateStrISO">
              <span class="user">{{resp.$userName}}</span>
              <a class="date" :href="'#' + resp.$dateStrISO">{{resp.$dateStr}}</a>
              <div class="message" v-html="resp.$html"></div>
              <div class="attachments" v-html="resp.$attachmentsHtml"></div>
              <div class="files" v-html="resp.$filesHtml"></div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div id="loading">Loading</div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="lib/simple-markdown.js"></script>
    <script type="module" src="app.js"></script>
  </body>
</html>
