*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

/* */

:root {
  --size-000: -.5rem;
  --size-00: -.25rem;
  --size-1: .25rem;
  --size-2: .5rem;
  --size-3: 1rem;
  --size-4: 1.25rem;
  --size-5: 1.5rem;
  --size-6: 1.75rem;
  --size-7: 2rem;
  --size-8: 3rem;
  --size-9: 4rem;
  --size-10: 5rem;
  --size-11: 7.5rem;
  --size-12: 10rem;
  --size-13: 15rem;
  --size-14: 20rem;
  --size-15: 30rem;
  --font-sans: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
  --font-serif: ui-serif, serif;
  --font-mono: Dank Mono, Operator Mono, Inconsolata, Fira Mono, ui-monospace, SF Mono, Monaco, Droid Sans Mono, Source Code Pro, monospace;
  --font-weight-1: 100;
  --font-weight-2: 200;
  --font-weight-3: 300;
  --font-weight-4: 400;
  --font-weight-5: 500;
  --font-weight-6: 600;
  --font-weight-7: 700;
  --font-weight-8: 800;
  --font-weight-9: 900;
  --font-size-00: .5rem;
  --font-size-0: .75rem;
  --font-size-1: 1rem;
  --font-size-2: 1.1rem;
  --font-size-3: 1.25rem;
  --font-size-4: 1.5rem;
  --font-size-5: 2rem;
  --font-size-6: 2.5rem;
  --font-size-7: 3rem;
  --font-size-8: 3.5rem;
}

/* */

button,
input {
  padding: var(--size-1) var(--size-2);
}

button,
input,
.msg {
  border-radius: .15rem;
  --bg: transparent;
  --text: #333333;
  --border: #333333;
  border: 1px solid var(--border);
  color: var(--text);
  background-color: var(--bg);
}

h1 {
  text-align: center;
  font-size: var(--font-size-5);
  margin-bottom: 2em;
  color: #004D40;
}

body {
  font-size: var(--font-size-3);
  font-family: var(--font-sans);
  max-width: 72ch;
  margin: 4em auto;
}

.subscribe {
  margin: 4em auto;
  max-width: 40ch;
}

.subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--size-1);
  flex-wrap: wrap;
}

a,
a:visited {
  color: #2f44ad;
}

p {
  margin: var(--size-4) 0
}

.msg {
  margin: var(--size-4) 0;
  padding: var(--size-2) var(--size-4);
  text-align: center;
}

.msg-loading {
  --bg: #E3F2FD;
  --border: #0D47A1;
  --text: #0D47A1;
}

.msg-error {
  --bg: #FFEBEE;
  --border: #B71C1C;
  --text: #B71C1C;
}

.msg-success, #subscribe-btn {
  --bg: #E0F2F1;
  --border: #004D40;
  --text: #004D40;
}

#subscribe-btn {
  cursor: pointer;
}

footer {
  text-align: center;
  margin-top: 2em;
}

footer a {
  text-decoration: none;
}

.newsletter-subscribe-root{
  margin: 0 4em;
}
